.date{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    font-size:25px;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    color: purple; 
}
.hour{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  font-size:25px;
  font-family: 'PressStart2PRegular';
  font-weight: normal;
  font-style: normal;
  color: purple; 
}

body{
    display: flex;
    flex-direction: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    }


  .bt1{
    position: fixed;
    bottom:100px;
    right:10px;
  }

.bt1 button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #cb60b3;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;

  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.bt1 button:focus{
    outline: none;
}

  .bt1 button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: purple;
    right: 0;
    bottom: 0;
    z-index: 20;
  }

  .bt1 button.main:before{
    content: '⬆';
  }

  .bt2{
    position: fixed;
    bottom:10px;
    right:10px;
    }

.bt2 button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #cb60b3;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.bt2 button:focus{
    outline: none;
}

.bt2 button.main{ 
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: purple;
  right: 0;
  bottom: 0;
  z-index: 20;
}

  .bt2 button.main:before{
    content: '⬇ ';
}