.date{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    font-size:25px;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    color: purple; 
}
.hour{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  font-size:25px;
  font-family: 'PressStart2PRegular';
  font-weight: normal;
  font-style: normal;
  color: purple; 
}

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% /*image ocupe all viewport*/
    
    }


  